<template>
   <article>
      <div class="container">
         <div class="row">
            <div class="col-md-4">
               <section class="py-md-5 py-1">
                  <img :src="icon1" :alt="$t('100% secure payment')">
                  <h5 class="mb-md-4 mb-2">
                     <translate>100% secure payment</translate>
                  </h5>
                  <p>
                     <translate>
                        Secure payment method via PayPal checkout that you'll find in the payment section.
                     </translate>
                  </p>
               </section>
            </div>
            <div class="col-md-4">
               <section class="py-md-5 py-1">
                  <img :src="icon2" :alt="$t('High quality')">
                  <h5 class="mb-md-4 mb-2">
                     <translate>High quality</translate>
                  </h5>
                  <p>
                     <translate>High quality cleaning guarantee at the right price.</translate>
                  </p>
               </section>
            </div>
            <div class="col-md-4">
               <section class="py-md-5 py-1">
                  <img :src="icon3" :alt="$t('Recommend to a friend')">
                  <h5 class="mb-md-4 mb-2">
                     <translate>Recommend to a friend</translate>
                  </h5>
                  <p>
                     <translate>Get 20% off your next order!</translate>
                  </p>
               </section>
            </div>
         </div>
      </div>
   </article>
</template>

<script>
export default {
    data() {
        return {
            icon1: require('@/assets/img/footer/info-bar/icon1.jpg'),
            icon2: require('@/assets/img/footer/info-bar/icon2.jpg'),
            icon3: require('@/assets/img/footer/info-bar/icon3.jpg'),
        }
    }
}
</script>

<style lang="scss" scoped>
   section {
      text-align: center;

      img {
         display: block;
         margin: 0 auto 15px;
      }
   }
</style>
