<template>
   <footer class="d-none d-md-block pt-4 pt-lg-5">
      <div class="container">
         <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
               <h4 class="contact-us">
                  <translate class-name="semicolon-after">Contact Us</translate>
               </h4>

               <ul class="list-unstyled icon-contact-list">
                  <li class="icon-phone">
                     <a href="tel:+4732993037">32 99 30 37</a>
                  </li>
                  <li class="icon-mail">
                     <a href="mailto:info@itrenhold.no">info@itrenhold.no</a>
                  </li>
                  <li class="icon-location">
                     <translate>Eastern Norway</translate>
                  </li>
                  <li class="icon-clock">
                     <span>Man - Fre 08:00 - 16:00</span>
                  </li>
                  <li class="icon-people">
                     <a href="#">
                        <translate>Work for us</translate>
                     </a>
                  </li>
               </ul>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12">
               <subscribe-field :active="!isSubscribed" @subscribe="subscribe"/>
            </div>

            <div class="col-lg-4 col-sm-12">
               <div class="d-flex d-lg-block align-items-center social-icons-and-logo">
                  <div class="itrenhold-logo-wrapper">
                     <img :src="logo" alt="itrenhold">
                  </div>

                  <div class="social-icons mt-lg-3">
                     <a class="social-icon"
                        :href="social.link"
                        :class="social.class"
                        v-for="social in socialLink"
                        target="_blank">
                        <fa :icon="social.icon"/>
                     </a>
                  </div>
               </div>
            </div>

            <div class="col-md-12 mt-md-4 mt-sm-3 insurance-container">
               <div class="d-flex justify-content-between">
                  <div class="d-flex">
                     <div style="width: 200px">
                        <translate>You are safe with us</translate>,
                        <br>
                        <translate>We are insured in</translate>
                     </div>
                     <img :src="ificion" alt="ificon" class="ificon-badge">
                  </div>
                  <div>
                     <img :src="godkjent" :alt="$t('Approved')" class="insurance-badge wide">
                     <img :src="ecolabel" :alt="$t('Approved')" class="insurance-badge">
                     <img :src="miljofyrtarn" :alt="$t('Approved')" class="insurance-badge">
                  </div>
               </div>
            </div>

            <div class="container">
               <div class="row">
                  <div class="col-xl-9 col-md-12">
                     <div class="d-flex justify-content-between">
                        <div>
                           <p class="mb-1">{{copyright}}</p>
                           <p>
                              <translate>All rights reserved</translate>
                           </p>
                        </div>
                        <ul class="d-flex list-unstyled footer-menu-list justify-content-between">
                           <li><a :href="faqLink">FAQ</a></li>
                           <li>
                              <a href="https://itrenhold.no/avtalevilkar/">
                                 <translate>Terms and Conditions</translate>
                              </a>
                           </li>
                           <li>
                              <a href="https://itrenhold.no/%ef%bb%bfpersonvernerklaering/">
                                 <translate>Privacy Policy</translate>
                              </a>
                           </li>
                        </ul>
                     </div>
                  </div>

                  <div class="col-xl-3 col-md-12">
                     <img :src="cards" :alt="$t('Credit Cards')" :title="$t('Credit Cards')" class="credit-cards">
                  </div>
               </div>
            </div>
         </div>
      </div>
   </footer>
</template>

<script>
import LanguagePicker from "@/components/LanguagePicker.vue";
import SubscribeField from "@/components/Footer/SubscribeField.vue";
import {faFacebook, faInstagram, faTwitter, faYoutube} from '@fortawesome/free-brands-svg-icons';

export default {
    components: {LanguagePicker, SubscribeField},

    data() {
        return {
            // Data
            newsletterEmail: '',
            isSubscribed: false,

            // Links
            faqLink: "https://itrenhold.no/privat/#faqs",
            socialLink: [
                {icon: faFacebook, class: 'facebook', link: "https://www.facebook.com/It-Renhold-1869331976697103/"},
                {icon: faTwitter, class: 'twitter', link: "https://twitter.com/ItRenhold"},
                {icon: faInstagram, class: 'instagram', link: "https://www.instagram.com/it_renhold/"},
                {icon: faYoutube, class: 'youtube', link: "https://www.youtube.com/channel/UCKrzwmoZQdKUkzS5_r2y1XQ"},
            ],

            // Images
            logo: require("@/assets/img/footer/logo.footer.png"),
            cards: require("@/assets/img/footer/cards.png"),
            godkjent: require("@/assets/img/footer/godkjent.badge.png"),
            ecolabel: require("@/assets/img/footer/ecolabel.badge.png"),
            miljofyrtarn: require("@/assets/img/footer/miljofyrtarn.badge.png"),
            ificion: require("@/assets/img/footer/ificion.badge.png")
        }
    },

    methods: {
        subscribe(email) {
            this.$store.dispatch('saveForNewsLetter', {email})
                .then(() => {
                    this.$notify({message: this.$t('key.footer.discount.note'), type: "success"});
                    this.isSubscribed = true;
                })
                .catch(({status}) => {
                    if (status === 422) {
                        this.$notify({message: this.$t('key.discount.email'), type: "warning"});
                    }
                    if (status === 409) {
                        this.$notify({message: this.$t('key.discount.email.duplicated'), type: "warning"});
                    }
                });
        }
    },

    computed: {
        copyright() {
            const year = new Date().getFullYear();
            return `2017-${year} © Copyright Renhold`;
        }
    }
}
</script>

<style lang="scss" scoped>
   @import "~bootstrap/scss/functions";
   @import "~bootstrap/scss/variables";
   @import "~bootstrap/scss/mixins";

   $facebook: #395694;
   $twitter: #1d9ceb;
   $instagram: #dc4da8;
   $youtube: red;

   footer {
      color: white;
      padding: 80px 0 10px;
      background-image: linear-gradient(rgb(20, 164, 180) 0%, rgb(15, 186, 175) 100%);
      font-weight: 300;

      h4.contact-us {
         font-weight: 300;
         margin-bottom: 1.2rem;
      }

      a {
         color: white;
         font-size: 18px;

         &:hover {
            text-decoration: none;
         }
      }

      .social-icons-and-logo {
         .itrenhold-logo-wrapper {
            margin: auto;
            width: 212px;

            img {
               display: block;
               margin-left: -18px;
            }
         }

         .social-icons {
            width: 178px;
            margin: -8px auto 0;
            white-space: nowrap;
            height: 40px;

            a.social-icon {
               font-size: 36px;
               margin-right: 13px;
               transition: color .5s;
               position: relative;
               z-index: 2;

               &:hover:after {
                  opacity: 1;
               }

               &:after {
                  position: absolute;
                  top: 43%;
                  opacity: 0;
                  left: 49%;
                  width: 1px;
                  height: 1px;
                  content: '';
                  z-index: -1;
                  box-shadow: 0 0 33px 18px white;
                  transition: opacity .5s;
               }

               &:last-child {
                  margin-right: 0;
               }

               &:hover {
                  &.facebook {
                     color: $facebook;
                  }

                  &.twitter {
                     color: $twitter;
                  }

                  &.instagram {
                     color: $instagram;
                  }

                  &.youtube {
                     color: $youtube;
                  }
               }
            }
         }
      }

      p {
         font-size: 16px;
         line-height: 22px;
      }

      .tt-uppercase {
         text-transform: uppercase;
      }

      img.insurance-badge {
         height: 50px;
         width: 70px;
         margin-right: 5px;

         &.wide {
            width: 100px;
         }
      }

      img.ificon-badge {
         width: 38px;
         height: auto;
      }

      .newsletter-subscribe {
         position: absolute;
         width: 100px;
         right: 8px;
         top: 21px;
         height: auto;
         padding: 10px 20px;
      }

      .bottom-wrapper {
         width: 100%;
      }

      ul.icon-contact-list {
         margin-left: 60px;

         li {
            position: relative;
            margin-bottom: 15px;

            a:before,
            span:before {
               content: "";
               background-size: contain;
               display: block;
               width: 35px;
               height: 35px;
               position: absolute;
               left: -60px;
               top: -5px;
               background-repeat: no-repeat;
               background-position: center;
            }

            &.icon-phone a:before {
               background-image: url('~@/assets/img/footer/list-icons/phone.png');
            }

            &.icon-mail a:before {
               background-image: url('~@/assets/img/footer/list-icons/mail.png');
            }

            &.icon-location span:before {
               background-image: url('~@/assets/img/footer/list-icons/location.png');
            }

            &.icon-clock span:before {
               background-image: url('~@/assets/img/footer/list-icons/clock.png');
            }

            &.icon-people a:before {
               background-image: url('~@/assets/img/footer/list-icons/people.png');
            }
         }
      }

      ul.footer-menu-list {
         li {
            display: inline-block;
            padding-right: 2vw;
         }
      }

      .insurance-container {
         border-bottom: 1px solid white;
         padding-bottom: 15px;
         margin-bottom: 15px;

         p {
            text-align: center;
         }

         div.d-flex {
            align-items: center;
            justify-content: space-evenly;

            img {
               vertical-align: middle;
            }
         }
      }

      img.credit-cards {
         display: block;
         max-width: 80%;
         margin: -4px auto 0;

         @include media-breakpoint-down(lg) {
            & {
               max-width: 245px;
            }
         }
      }
   }
</style>
