<template>
   <div class="mt-4 d-flex justify-content-around align-center flex-lg-row flex-md-column flex-sm-row flex-column align-items-center">
      <div class="mt-lg-0 mt-md-3 mt-sm-0 mt-3 paypal-credit-cards d-none d-sm-block"/>
      <div class="button" @click="pay()"/>
   </div>
</template>

<script>
export default {
    methods: {
        pay() {
            this.$emit('pay');
        }
    }
}
</script>

<style lang="scss" scoped>
   .button {
      cursor: pointer;
      margin-top: 12px;
      background-image: url('~@/assets/img/steps/step-payment/pay-with-paypal.png');
      background-repeat: no-repeat;
      width: 150px;
      height: 52px;
   }

   .paypal-credit-cards {
      opacity: 0.7;
      background-image: url('~@/assets/img/steps/step-payment/payment-with-cards-paypal.png');
      background-size: contain;
      background-repeat: no-repeat;
      width: 240px;
      height: 72px;
   }
</style>
