<template>
   <div>
      <div id="card-element" class="StripeElement"/>
   </div>
</template>

<script>
import {loadStripe} from '@stripe/stripe-js/pure';

export default {
    props: {
        amount: {type: Number},
    },
    data() {
        return {
            stripe: null,
            card: null,
        };
    },
    async mounted() {
        this.stripe = await loadStripe('pk_live_N1zyih5aNtCk2TyBorTi4ySG');
        this.card = this._mountCard(this.stripe, '#card-element');
    },
    methods: {
        createToken() {
            if (!this.stripe || !this.card) {
                return;
            }
            this.stripe
                .createToken({...this.card, amount: this.amount})
                .then(token => this.$emit('success', this.stripe, this.card, token))
                .catch(error => this.$emit('error', error))
        },
        _mountCard(stripe, mountId) {
            const card = stripe.elements().create('card', {
                hidePostalCode: true,
            });
            card.mount(mountId);
            card.addEventListener('change', ({error}) => this.$emit('changeError', error));
            return card;
        }
    },
    computed: {
        style() {
            return {
                base: {
                    color: '#32325d',
                    fontFamily: 'Lato, sans-serif',
                    fontSmoothing: 'antialiased',
                    fontSize: '16px',
                    '::placeholder': {
                        color: '#aab7c4'
                    }
                },
                invalid: {
                    color: 'red',
                    iconColor: 'red'
                }
            };
        },
    },
}
</script>

<style lang="scss" scoped>
   .StripeElement {
      border: 1px solid #ddd;
      border-radius: 4px;

      .StripeElement--focus {
         box-shadow: 0 1px 3px 0 #cfd7df;
      }

      .StripeElement--invalid {
         border-color: #fa755a;
      }

      .StripeElement--webkit-autofill {
         background-color: #fefde5 !important;
      }

      box-sizing: border-box;
      height: 40px;
      padding: 10px 12px;
      background-color: white;

      &.StripeElement--focus {
         box-shadow: 0 1px 3px 0 #cfd7df;
      }

      &.StripeElement--invalid {
         border-color: red;
      }

      &.StripeElement--webkit-autofill {
         background-color: #fefde5 !important;
      }
   }
</style>
