<template>
   <div class="apartment-area-selector">
      <area-selector
            v-model="area"
            @input="emitInput"
            :max="299"
            :image-small="images.small"
            :image-medium="images.medium"
            :image-large="images.large"
      />
   </div>
</template>

<script>
import AreaSelector from "./AreaSelector";

export default {
    components: {AreaSelector},

    props: {
        value: {type: Number},
    },

    data() {
        return {
            area: this.value,

            images: {
                small: require('@/assets/img/steps/step-details/area-small.png'),
                medium: require('@/assets/img/steps/step-details/area-medium.png'),
                large: require('@/assets/img/steps/step-details/area-large.png'),
            }
        }
    },

    methods: {
        emitInput() {
            this.$emit('input', this.area);
        },
    },

    watch: {
        value(newArea) {
            this.area = newArea;
        }
    }
}
</script>
