<template>
   <div class="carpet-area-selector">
      <area-selector
            v-model="area"
            @input="emitInput"
            :max="15"
            :image-small="images.small"
            :image-medium="images.medium"
            :image-large="images.large"
      />
   </div>
</template>

<script>
import AreaSelector from "./AreaSelector";

export default {
    components: {AreaSelector},

    props: {
        value: {type: Number},
    },

    data() {
        let image = require('@/assets/img/steps/step-details/area-carpet.png');

        return {
            area: this.value,

            images: {
                small: image,
                medium: image,
                large: image,
            }
        }
    },

    methods: {
        emitInput() {
            this.$emit('input', this.area);
        },
    },
}
</script>

<style lang="scss">
   .carpet-area-selector {
      .area-selector {
         div.image {
            &.image-small img {
               height: 60%;
            }

            &.image-medium img {
               height: 80%;
            }

            &.image-large img {
               height: 100%;
            }
         }
      }
   }
</style>
