<template>
   <div>
      <div class="position-relative output-container d-block d-md-none">
         <div class="position-absolute" :style="tooltipStyle">
            <output class="font-weight-bold text-nowrap translate-50-proc-left">
               <span class="square-sup-text">{{rangeValue}}m</span>
            </output>
         </div>
      </div>
      <input type="range" v-model="rangeValue" @input="emitInput" min="1" :max="max"/>
   </div>
</template>

<script>
export default {
    props: {
        value: {type: Number, required: true},
        max: {type: Number, required: true},
        min: {type: Number, default: 1}
    },

    data() {
        return {
            rangeValue: this.value
        }
    },

    computed: {
        tooltipStyle() {
            return {
                left: this.percents + '%'
            }
        },

        percents() {
            return Math.max(0, (this.rangeValue - this.min) * 100.0 / (this.max - this.min));
        }
    },

    methods: {
        emitInput() {
            this.$emit('input', parseInt(this.rangeValue));
        }
    },

    watch: {
        value(newValue) {
            this.rangeValue = newValue;
        }
    }
}
</script>

<style lang="scss" scoped>
   $track-height: 2px;
   $borderRadius: 22px;
   $transitionDuration: .3s;

   $height: 23px;
   $scale: 1.35;

   $width: $height;

   .output-container {
      height: 25px;
      margin: 7px 20px -7px;
   }

   .translate-50-proc-left {
      transform: translateX(-50%);
   }

   input[type=range] {
      height: 30px;
      -webkit-appearance: none;
      margin: 10px 0;
      width: 100%;
      cursor: pointer;

      &:focus {
         outline: none;
      }

      &:active::-webkit-slider-thumb {
         -webkit-transform: scale($scale, $scale);
         transform: scale($scale, $scale);
      }

      &:active::-moz-range-thumb {
         -moz-transform: scale($scale, $scale);
         transform: scale($scale, $scale);
      }

      &:active::-ms-thumb {
         -ms-transform: scale($scale, $scale);
         transform: scale($scale, $scale);
      }

      &::-webkit-slider-runnable-track {
         width: 100%;
         height: $track-height;
         cursor: pointer;
         animate: 0.2s;
         background: #13A8B3;
         border-radius: 0;
         border: none;
      }

      &::-webkit-slider-thumb {
         box-shadow: none;
         border: none;
         height: $height;
         width: $width;
         border-radius: $borderRadius;
         background: #13A8B3;
         cursor: pointer;
         -webkit-appearance: none;
         margin-top: -10.5px;
         -webkit-transition: -webkit-transform $transitionDuration;
         transition: transform $transitionDuration;
      }

      &:focus::-webkit-slider-runnable-track {
         background: #13A8B3;
      }

      &::-moz-range-track {
         width: 100%;
         height: $track-height;
         cursor: pointer;
         animate: 0.2s;
         box-shadow: none;
         background: #13A8B3;
         border-radius: 0;
         border: none;
      }

      &::-moz-range-thumb {
         box-shadow: none;
         border: none;
         height: $height;
         width: $width;
         border-radius: $borderRadius;
         background: #13A8B3;
         cursor: pointer;
         -moz-transition: -moz-transform $transitionDuration;
         transition: transform $transitionDuration;
      }

      &::-ms-track {
         width: 100%;
         height: $track-height;
         cursor: pointer;
         animate: 0.2s;
         background: transparent;
         border: none;
         color: transparent;
      }

      &::-ms-fill-lower,
      &::-ms-fill-upper {
         background: #13A8B3;
         border: none;
         border-radius: 0;
         box-shadow: none;
      }

      &::-ms-thumb {
         margin-top: 1px;
         box-shadow: none;
         border: none;
         height: $height;
         width: $width;
         border-radius: $borderRadius;
         background: #13A8B3;
         cursor: pointer;
         transition: -ms-transform $transitionDuration;
         transition: transform $transitionDuration;
      }

      &:focus::-ms-fill-lower,
      &:focus::-ms-fill-upper {
         background: #13A8B3;
      }
   }
</style>
