<template>
   <article>
      <div class="banner d-none d-lg-flex d-xl-flex">
         <div class="container">
            <h1>
               <translate>Ordering</translate>
            </h1>
         </div>
      </div>

      <step-tabs/>

      <div class="container wide-container mt-3 mt-md-4 md-lg-5">
         <div class="row">
            <div class="col-md-7 col-12">
               <steps-navigation :steps="steps"/>
            </div>
            <div class="col-md-5 col-12">
               <aside-summary :order-summary-visible="orderSummaryVisible"/>
            </div>
         </div>
      </div>
   </article>
</template>

<script>
import AsideSummary from './Summary/AsideSummary';
import StepTabs from './StepTabs';
import StepsNavigation from './StepsNavigation';

export default {
    components: {AsideSummary, StepTabs, StepsNavigation},

    props: {
        orderSummaryVisible: {type: Boolean, default: true},
    },

    data() {
        return {
            banner: require('@/assets/img/banner.jpg'),
            steps: ['/', '/details', '/availability', '/payment',]
        }
    }
}
</script>

<style lang="scss" scoped>
   @import '~@/assets/scss/variables';

   article {
      background: $background-color;

      div.banner {
         height: 350px;
         background: #7ad4d4 url('~@/assets/img/banner.jpg') center;
         background-size: cover;
         align-items: flex-end;

         h1 {
            color: white;
            text-transform: uppercase;
            font-size: 60px;
            font-weight: 700;
         }
      }
   }
</style>
