<template>
   <div>
      <transition-router-view transition="slide" :flow="steps"/>

      <div class="buttons d-flex justify-content-between">
         <button class="button-style click-effect back-button" @click="goToStep(-1)" :class="{hidden: isFirst}">
            <span class="effect-group">
               <fa icon="arrow-left"/>
               <translate>Back</translate>
            </span>
         </button>

         <button class="button-style click-effect next-button" @click="goToStep(1)" :class="{hidden: isLast}">
            <span class="effect-group">
               <translate>Next</translate>
               <fa icon="arrow-right"/>
            </span>
         </button>
      </div>
   </div>
</template>

<script>
import TransitionRouterView from './TransitionRouterView';

export default {
    components: {TransitionRouterView},

    props: {
        steps: {type: Array, required: true}
    },

    methods: {
        indexExists(modifier) {
            const index = this.index + modifier;
            return index >= 0 && index < this.steps.length;
        },

        goToStep(modifier) {
            if (this.indexExists(modifier)) {
                this.$router.push(this.steps[this.index + modifier]);
            }
        },
    },

    computed: {
        index() {
            return this.steps.findIndex(step => step === this.$route.path);
        },

        isFirst() {
            return !this.indexExists(-1);
        },

        isLast() {
            return !this.indexExists(+1);
        }
    },

    watch: {
        $route(next, previous) {
            this.$store.commit('leavePage', {step: previous.path});
            this.$store.commit('enterPage', {step: next.path});
        }
    }
}
</script>

<style lang="scss">
   @import '~@/assets/scss/bootstrap';

   @include media-breakpoint-down(md) {
      div.white-bordered-step-container {
         padding: 25px 20px 17px;
      }
   }

   .white-bordered-step-container {
      padding: 35px 30px 27px;
      background: white;
      margin-bottom: 20px;
      border-radius: 25px;
      min-height: 450px;

      h1 {
         font-size: 30px;
         color: #00a1a2;
         font-weight: 500;

         :before {
            display: inline;
         }

         &.h1-location:before {
            content: '1. ';
         }

         &.h1-details:before {
            content: '2. ';
         }

         &.h1-availability:before {
            content: '3. ';
         }

         &.h1-payment:before {
            content: '4. ';
         }
      }

      h2 {
         font-size: 26px;
         font-weight: 600;
         margin-top: 1em;
      }

      h3 {
         font-size: 23px;
         font-weight: 400;
         margin-top: 1em;
      }

      h4 {
         font-size: 19px;
      }
   }

   @include media-breakpoint-down(xs) {
      .white-bordered-step-container {
         padding: 20px 15px 15px;
      }
   }
</style>

<style lang="scss" scoped>
   .buttons {
      margin-bottom: 30px;

      button {
         opacity: 1;
         transition: opacity .3s;

         &.hidden {
            opacity: 0;
         }
      }
   }
</style>