<template>
   <div>
      <transition
            :name="transitionName"
            mode="out-in"
            @beforeLeave="beforeLeave"
            @enter="enter"
            @afterEnter="afterEnter">
         <router-view/>
      </transition>
   </div>
</template>

<script>
const oneOf = values => {
    return value => values.indexOf(value) > -1;
};

export default {
    props: {
        transition: {required: true, validator: oneOf(['slide', 'fade'])},
        flow: {required: true, type: Array}
    },

    data() {
        return {
            transitionName: this.transition === 'slide' ? 'slide-left' : 'fade',
            prevHeight: 0,
        };
    },

    watch: {
        '$route'(to, from) {
            if (this.transition === 'fade') {
                return;
            }
            this.transitionName = this.flow.indexOf(to.path) < this.flow.indexOf(from.path) ? 'slide-right' : 'slide-left';
        }
    },

    methods: {
        beforeLeave(element) {
            this.prevHeight = getComputedStyle(element).height;
        },
        enter(element) {
            const {height} = getComputedStyle(element);

            element.style.height = this.prevHeight;

            setTimeout(() => {
                element.style.height = height;
            });
        },
        afterEnter(element) {
            element.style.height = 'auto';
        },
    },
};
</script>

<!--suppress CssUnusedSymbol -->
<style scoped>
   .slide-left-enter-active,
   .slide-left-leave-active,
   .slide-right-enter-active,
   .slide-right-leave-active {
      transition-duration: 0.3s;
      transition-property: height, opacity, transform;
      transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
      overflow: hidden;
   }

   .slide-left-enter,
   .slide-right-leave-active {
      opacity: 0;
      transform: translate(2em, 0);
   }

   .slide-left-leave-active,
   .slide-right-enter {
      opacity: 0;
      transform: translate(-2em, 0);
   }

   .fade-enter-active,
   .fade-leave-active {
      transition-duration: 0.3s;
      transition-timing-function: ease;
      transition-property: height, opacity;
      overflow: hidden;
   }

   .fade-enter,
   .fade-leave-active {
      opacity: 0
   }
</style>