$font-weight-bold: 500 !default;
$font-size-small: 12px !default;
$gray-color: #999999 !default;
$brand-info: #5bc0de !default;

$brand-primary: darken(#428bca, 6.5%) !default; // #337ab7
$brand-success: #5cb85c !default;
$brand-info: #5bc0de !default;
$brand-warning: #f0ad4e !default;
$brand-danger: #d9534f !default;

$border-radius-base: 4px !default;
$margin-base: 15px !default;

$mdb-shadow-key-umbra-opacity: 0.2 !default;
$mdb-shadow-key-penumbra-opacity: 0.14 !default;
$mdb-shadow-ambient-shadow-opacity: 0.12 !default;

$mdb-text-color-primary: black;

@mixin shadow-big-color($color) {
  box-shadow: 0 12px 20px -10px rgba($color, $mdb-shadow-key-penumbra-opacity * 2),
  0 4px 20px 0px rgba(0, 0, 0, $mdb-shadow-ambient-shadow-opacity),
  0 7px 8px -5px rgba($color, $mdb-shadow-key-umbra-opacity);

}

@mixin alert-color($color) {
  background-color: $color;
  color: white;
  border-radius: $border-radius-base;
  @include shadow-big-color($color)
}

.alert {
  border: 0;
  border-radius: 0;
  position: relative;
  padding: 20px 15px;
  line-height: 20px;
  margin-bottom: 20px;

  .notifications & {
    margin-bottom: 0;
  }

  b {
    font-weight: $font-weight-bold;
    text-transform: uppercase;
    font-size: $font-size-small;
  }

  @include alert-color($gray-color);

  &.alert-info {
    @include alert-color(lighten($brand-info, 5%));
  }

  &.alert-danger {
    @include alert-color(lighten($brand-danger, 5%));
  }

  &.alert-primary {
    @include alert-color(lighten($brand-primary, 5%));
  }

  &.alert-warning {
    @include alert-color(lighten($brand-warning, 5%));
  }

  &.alert-success {
    @include alert-color(lighten($brand-success, 5%));
  }

  &-info, &-danger, &-warning, &-success {
    color: white;
  }

  &-default {
    a, .alert-link {
      color: $mdb-text-color-primary;
    }
  }

  .close {
    float: right;
    font-size: inherit;
    font-weight: 700;
    line-height: 1;
    color: white;
    opacity: .9;
    background-color: transparent;
    border: 0;
    cursor: pointer;
  }

  i[data-notify="icon"] {
    font-size: 30px;
    display: block;
    left: 15px;
    position: absolute;
    top: 50%;
    margin-top: -15px;
  }

  span {
    display: block;
    max-width: 89%;
  }

  .alert-icon {
    display: block;
    float: left;
    margin-right: $margin-base;

    i {
      margin-top: -7px;
      top: 5px;
      position: relative;
    }
  }

  &.alert-with-icon {
    padding-left: 65px;
  }
}
