.margin-top-100 {
  margin-top: 100px;
}

.cursor-help {
  cursor: help;
}

.container.wide-container {
  max-width: 1140px;
}

.semicolon-after:after {
  content: ': ';
  display: inline;
}

.not-selectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.label-style {
  color: #13a8b3;
  font-size: 12px;
  font-weight: 700;
  display: block;
}
