<template>
   <nav class="mobile-navigation">
      <div class="logo-wrapper">
         <a href="/" class="logo-link">
            <img :src="logo" alt="">
         </a>
      </div>

      <ul class="list-unstyled">
         <li v-for="link in links">
            <a :href="link.link" :class="link.class">
               <fa v-if="link.icon" :icon="link.icon"></fa>
               <translate :text="link.name"></translate>
            </a>
         </li>
      </ul>
   </nav>
</template>

<script>
export default {
    data() {
        return {
            links: [
                {link: 'https://itrenhold.no/', name: 'Home'},
                {link: 'https://itrenhold.no/mobile-app/', name: 'Mobile App'},
                {link: 'https://itrenhold.no/privat/', name: 'Private'},
                {link: 'https://itrenhold.no/bedrift/', name: 'Company'},
                {link: 'https://itrenhold.no/om-oss/', name: 'About us'},
                {link: 'https://itrenhold.no/blog/', name: 'Blog'},
                {link: 'https://itrenhold.no/kontakt/', name: 'Contact'},
                {
                    link: 'https://itrenhold.no/Bestill_na/',
                    name: 'Order now',
                    class: 'list-button',
                    icon: 'shipping-fast'
                },
            ],
            logo: require('@/assets/img/nav/logo.svg'),
        };
    }
}
</script>

<style lang="scss" scoped>
   @import '~@/assets/scss/variables';

   .mobile-navigation {
      padding: 25px 0 0;
      margin-top: 0;

      ul {
         margin-top: 20px;
         padding: 20px;

         li {
            margin-bottom: 5px;

            a {
               display: block;
               color: black;
               text-decoration: none;
               background-color: $background-color;
               padding: 10px 20px 6px;
               cursor: pointer;
               border-radius: 10px;
               font-size: 19px;

               &:hover {
                  background-color: #00b3b4;
                  color: white;
               }

               &.list-button {
                  margin-top: 30px;
                  font-size: 16px;
                  height: 45px;
                  line-height: 47px;
                  color: white;
                  background: -webkit-linear-gradient(-45deg, #14a4b4, #0fbaaf);
                  background: -moz-linear-gradient(-45deg, #14a4b4, #0fbaaf);
                  background: -o-linear-gradient(-45deg, #14a4b4, #0fbaaf);
                  background: linear-gradient(-45deg, #14a4b4, #0fbaaf);
                  border-radius: 50px;
                  box-shadow: 3.216px 10.519px 13px 0 rgba(9, 186, 180, 0.13);
                  padding: 0 20px;

                  &:hover {
                     opacity: 0.7;
                     transition: opacity .3s;
                  }
               }

               svg.svg-inline--fa {
                  margin-right: 10px;
               }
            }
         }
      }

      .logo-wrapper {
         display: flex;
         justify-content: center;
         width: 100%;

         a.logo-link img {
            width: 135px;
            display: block;
         }
      }
   }
</style>
