<template>
   <div class="sidebar d-block d-lg-none">
      <div class="sidebar-wrapper">
         <mobile-navigation/>
      </div>
   </div>
</template>

<script>
import MobileNavigation from './MobileNavigation';

export default {
    components: {MobileNavigation},
};
</script>

<style lang="scss">
   @import '~@/assets/scss/mixins.scss';
   @import '~@/assets/scss/bootstrap';

   .mobile-nav-button {
      @include transform-translate-x(0);
      @include transition (0.33s, cubic-bezier(0.685, 0.0473, 0.346, 1));
   }

   @include media-breakpoint-down(md) {
      .mobile-navigation-open {
         .mobile-nav-button {
            @include transform-translate-x(260px);
         }
      }
   }
</style>

<style lang="scss" scoped>
   @import '~@/assets/scss/mixins.scss';
   @import '~@/assets/scss/bootstrap';

   @include media-breakpoint-down(md) {
      .mobile-navigation-open {
         .sidebar {
            @include shadow-big();
            @include transform-translate-x(0);
         }
      }
   }

   .sidebar {
      position: fixed;
      height: 100vh;
      width: 260px;
      left: 0;
      bottom: 0;
      z-index: 10000;
      background-color: white;

      @include transform-translate-x(-260px);
      @include transition (0.33s, cubic-bezier(0.685, 0.0473, 0.346, 1));

      .sidebar-wrapper {
         padding-bottom: 60px;
      }
   }
</style>
