<template>
   <div class="white-bordered-step-container">
      <h1 class="h1-location">
         <translate>Enter address / location</translate>
      </h1>
      <h3>
         <translate>Where are we going?</translate>
      </h3>

      <google-map :initial-location.once="initialLocation"
                  :default-location.once="defaultLocation"
                  :autocomplete.sync="autocompleteValue"
                  @input="() => {}"
                  @geocode="setCountryAndLocation"/>

      <div class="mt-3 info implicit-origin-info" v-if="isOriginImplicit">
         <fa icon="info-circle"/>
         <translate :text="implicitOriginText"/>
      </div>

      <div class="mt-3 info unsupported-country" v-if="isUnsupportedCountry">
         <fa icon="exclamation-triangle"/>
         <translate :params="{country: country ? country.name : $t('Unrecognized')}">
            We're not providing services for the country you've chosen: "{country}".
         </translate>
      </div>
   </div>
</template>

<script>
import GoogleMap from '@/components/Maps/GoogleMap';
import {isImplicit, isUserSelected, implicitTranslations, ORIGIN_DEFAULT, ORIGIN_LOCAL_STORAGE} from "@/components/Maps/origin";

export default {
    components: {GoogleMap},

    data() {
        return {
            country: {
                code: this.$store.state.countryCode,
                name: this.$store.state.countryName,
            },
        }
    },

    computed: {
        initialLocation() {
            return this.$store.state.location;
        },
        defaultLocation() {
            if (localStorage.mapLocation) {
                return {location: JSON.parse(localStorage.mapLocation), origin: ORIGIN_LOCAL_STORAGE};
            }
            return {location: {lat: 59.9138688, lng: 10.7522454}, origin: ORIGIN_DEFAULT};
        },
        isUnsupportedCountry() {
            return isUserSelected(this.$store.state.locationOrigin) && !this.validCountrySelected;
        },
        validCountrySelected() {
            if (this.country) {
                return this.country.code === 'NO';
            }
            return false;
        },
        isOriginImplicit() {
            return isImplicit(this.$store.state.locationOrigin);
        },
        implicitOriginText() {
            return implicitTranslations[this.$store.state.locationOrigin];
        },
        autocompleteValue: {
            get() {
                return this.$store.state.autocompleteValue;
            },
            set(value) {
                this.$store.commit('autocompleteValue', {value});
            }
        }
    },

    methods: {
        setCountryAndLocation({country, location, origin}) {
            if (country) {
                this.country = country;
                this.$store.commit('countryCode', {country, location, origin});
            } else {
                // ZERO_RESULTS from google
                this.country = null;
                this.$store.commit('clearCountryCode');
            }
        }
    }
}
</script>

<style lang="scss" scoped>
   .implicit-origin-info {
      color: #19bbd2;
   }

   .unsupported-country {
      color: #d46262;
   }

   .info {
      svg { // font-awesome specific
         margin-right: 5px;
      }
   }
</style>
