<template>
   <div class="white-bordered-step-container payment-view" ref="heading">
      <loading-overlay
          :active="loading"
          :is-full-page="true"
          color="#14a4b4"
          :lock-scroll="true"/>

      <h1 class="h1-payment">
         <translate>Complete the order</translate>
      </h1>

      <h3>
         <translate>Contact information</translate>
      </h3>

      <div class="row">
         <div class="col-md-6">
            <div class="form-group" :class="invalid('firstName')">
               <label>
                  <translate>First name</translate>
               </label>
               <input class="form-control" v-model.trim="firstName"/>
               <translate class-name="message">Please, type a correct first name.</translate>
            </div>
         </div>

         <div class="col-md-6">
            <div class="form-group" :class="invalid('lastName')">
               <label>
                  <translate>Surname</translate>
               </label>
               <input class="form-control" v-model.trim="lastName"/>
               <translate class-name="message">Please, type a correct surname.</translate>
            </div>
         </div>
      </div>

      <div class="row">
         <div class="col-lg-6 col-md-12 col-sm-6">
            <div class="form-group" :class="invalid('email')">
               <label>
                  <translate>E-mail address</translate>
               </label>
               <input class="form-control" v-model="email">
               <translate class-name="message">Please, type a correct e-mail address.</translate>
            </div>
         </div>

         <div class="col-lg-6 col-md-12 col-sm-6">
            <div class="form-group" :class="invalid('phone')">
               <label>
                  <translate>Phone number</translate>
               </label>
               <vue-phone-number-input
                   v-model="phoneNumber"
                   :default-country-code="countryCode || 'NO'"
                   :only-countries="['NO', 'SE', 'DK']"
                   :translations="phoneNumberTranslations"
                   valid-color="green"
                   error-color="red"
                   :error="phoneNumber && !this.isPhoneNumberValid"
                   @update="updatePhoneNumber"
               />
               <translate class-name="message">Please, type a correct phone number.</translate>
            </div>
         </div>
      </div>

      <h3 class="mt-4">
         <translate>Will you be home at the time of cleaning?</translate>
      </h3>
      <RadioButtonsFieldSet :options="options" v-model="option" initial="notNeeded"/>

      <template v-if="$store.state.contact.accessInformationNeeded">
         <div class="mt-3">
            <div class="form-group">
               <textarea class="form-control house-access"
                         maxlength="350"
                         :placeholder="$t('key.payment.houseAccess.placeholder')"
                         v-model="accessInformation"/>
               <small>{{(accessInformation || '').length}}/350</small>
            </div>
         </div>

         <div class="mt-4 mb-2 d-flex">
            <div class="align-self-center font-size-08-em">
               <img :src="images.ssl" :alt="$t('Secure SSL Encryption')" class="pr-3 aspect-ratio"/>
            </div>
            <translate text="key.payment.security"/>
         </div>
      </template>

      <h3 class="mt-4">
         <translate>Payment</translate>
      </h3>

      <template v-if="hasLocationDetails">
         <PaymentSelector v-model="paymentMethod"/>

         <div v-show="paymentMethod === 'paypal'">
            <PayWithPaypal @pay="payPayPal"/>
         </div>
         <div v-show="paymentMethod === 'stripe'">
            <h3 class="mt-3 mb-3">
               <translate>Credit card</translate>
            </h3>

            <p class="mb-3">
               <translate>We do not store your payment information.</translate>
            </p>

            <div class="form-group" :class="invalid('firstName')">
               <label>
                  <translate>Cardholder name and surname</translate>
               </label>
               <input class="form-control" v-model.trim="cardHolderName"/>
               <translate class-name="message">Please, type a correct name.</translate>
            </div>

            <div class="form-group">
               <label>
                  <translate>Credit card</translate>
               </label>
               <div class="row">
                  <div class="col-12 col-sm-8 col-md-12 col-lg-8 mb-4">
                     <StripeForm
                         ref="ref"
                         :amount="$store.getters.price * 100"
                         @success="stripeSuccess"
                         @error="stripeError"
                         @changeError="stripeChangeError"
                     />
                  </div>
                  <div class="col-12 col-sm-4 col-md-12 col-lg-4 mb-4">
                     <div class="stripe-image"></div>
                  </div>
               </div>

               <translate class-name="message">Please, type a correct first name.</translate>
            </div>

            <label>
               <input type="checkbox" v-model="agreement" class="mr-2">
               <translate text="key.payment.purchaseAgreement"/>
            </label>

            <div class="d-flex justify-content-end">
               <div :class="{'buttonPayment': true, 'buttonActive': $store.state.contact.agreement}">
                  <button @click="payStripe" class="mt-3 button-style click-effect">
                     <span class="effect-group">
                        Pay {{$store.getters.price}} NOK
                     </span>
                  </button>
               </div>
            </div>
         </div>
      </template>

      <template v-else>
         <p class="mt-3">
            <translate>We had trouble gathering your location information.</translate>
         </p>

         <router-link tag="button" class="button-style click-effect" to="/">
            <span class="effect-group">
               <fa icon="arrow-left"/>
               <translate>Go to the first step</translate>
            </span>
         </router-link>
      </template>
   </div>
</template>

<script>
import VuePhoneNumberInput from 'vue-phone-number-input';
import 'vue-phone-number-input/dist/vue-phone-number-input.css';
import {emailValidator, unicodeLetters} from "@/utils";
import StripeForm from "./Payment/StripeForm";
import PaymentSelector from "../../../components/PaymentSelector"
import RadioButtonsFieldSet from "@/pages/Form/Steps/Availability/RadioButtonsFieldSet";
import PayWithPaypal from "@/pages/Form/Steps/Payment/PayWithPaypal";
import LoadingOverlay from 'vue-loading-overlay';

const binary = (value, truth, falsy) => {
    if (value === truth) {
        return true;
    }
    if (value === falsy) {
        return false;
    }
    throw `Unexpected value ${value}, expected ${truth} or ${falsy}`;
}

export default {
    components: {
        PayWithPaypal,
        'vue-phone-number-input': VuePhoneNumberInput,
        StripeForm,
        PaymentSelector,
        RadioButtonsFieldSet,
        LoadingOverlay,
    },

    data() {
        return {
            images: {
                ssl: require('@/assets/img/steps/step-payment/ssl-encryption.jpg'),
                cvv: require('@/assets/img/steps/step-payment/credit-card-cvv.jpg'),
            },
            options: {
                notNeeded: 'I will be present at the apartment, when the service arrives',
                needed: 'Provide a description of how we can gain access to your home',
            },

            firstName: this.$store.state.contact.firstName,
            lastName: this.$store.state.contact.lastName,
            email: this.$store.state.contact.email,
            phoneNumber: this.$store.state.contact.phoneNumber,
            agreement: this.$store.state.contact.agreement,
            countryCode: this.$store.state.contact.countryCode,
            accessInformation: this.$store.state.contact.accessInformation,
            cardHolderName: this.$store.state.contact.cardHolderName,

            isPhoneNumberValid: null,
            loading: false,
        }
    },

    mounted() {
        this.$refs.heading.scrollIntoView();
    },

    computed: {
        paymentMethod: {
            get() {
                return this.$store.state.paymentMethod;
            },
            set(value) {
                this.$store.commit('savePaymentType', {method: value});
            }
        },
        option: {
            get() {
                return this.$store.state.contact.accessInformationNeeded ? 'needed' : 'notNeeded';
            },
            set(value) {
                this.$store.commit('savePaymentInfo', {
                    ...this.paymentInfo,
                    accessInformationNeeded: binary(value, 'needed', 'notNeeded'),
                })
            }
        },

        phoneNumberTranslations() {
            return {
                countrySelectorLabel: this.$t('vue-phone-number-input.countrySelectorLabel'),
                countrySelectorError: this.$t('vue-phone-number-input.countrySelectorError'),
                phoneNumberLabel: this.$t('vue-phone-number-input.phoneNumberLabel'),
                example: this.$t('vue-phone-number-input.example'),
            }
        },

        validFields() {
            return {
                firstName: this.firstName && unicodeLetters(this.firstName),
                lastName: this.lastName && unicodeLetters(this.lastName),
                email: this.email && emailValidator(this.email),
                phone: this.isPhoneNumberValid
            };
        },
        hasLocationDetails() {
            return !!this.$store.state.location;
        },
        paymentInfo() {
            return {
                firstName: this.firstName,
                lastName: this.lastName,
                email: this.email,
                countryCode: this.countryCode,
                phoneNumber: this.phoneNumber,
                accessInformation: this.accessInformation,
                accessInformationNeeded: this.$store.state.contact.accessInformationNeeded,
                agreement: this.agreement,
                cardHolderName: this.cardHolderName,
            };
        }
    },

    methods: {
        invalid(field) {
            let state = this.validFields[field];
            if (state === false) {
                return "invalid";
            }
            if (state === true) {
                return "valid";
            }
            return null;
        },

        updatePhoneNumber({countryCode, isValid, phoneNumber}) {
            this.phoneNumber = phoneNumber;
            this.countryCode = countryCode;
            if (phoneNumber === null) {
                this.isPhoneNumberValid = null;
            } else {
                this.isPhoneNumberValid = isValid;
            }
        },
        payPayPal() {
            this.$store.commit('validateAll');
            if (!this.$store.getters.allStepsValid) {
                this.$notify({
                    message: this.$t("Please, fill all the necessary fields first."),
                    type: "warning" // "", "info", "success", "warning", "danger"
                });
                return;
            }
            this.$store.dispatch('payPaypal')
                .then(({url}) => {
                    window.location.href = url;
                })
                .catch(error => {
                    this.$notify({
                        type: "danger",
                        message: "There was an error, when we tried to perform the payment."
                    });
                });
        },
        payStripe() {
            if (!this.$store.getters.allStepsValid) {
                this.$notify({
                    message: this.$t("Please, fill all the necessary fields first."),
                    type: "warning" // "", "info", "success", "warning", "danger"
                });
                return;
            }
            this.loading = true;
            this.$refs.ref.createToken();
        },
        stripeSuccess(stripe, card, token) {
            this.$store.dispatch('payStripe', {stripe, card, token: token.id})
                .then(data => {
                    this.loading = false;
                    this.$notify({type: "success", message: "Your payment was successfull :)"});
                    window.location.href = "https://itrenhold.no/slapp-av/";
                })
                .catch(error => {
                    this.loading = false;
                    this.$notify({
                        type: "danger",
                        message: "There was an error, when we tried to perform the payment."
                    });
                    console.error(error);
                });
        },
        stripeError() {
            this.loading = false;
            this.$notify({type: "danger", message: "There was an error, when we tried to perform the payment."});
        },
        stripeChangeError() {
        },
    },

    watch: {
        paymentMethod() {
            this.$store.commit('savePaymentType', {method: this.paymentMethod});
        },
        firstName() {
            this.$store.commit('savePaymentInfo', this.paymentInfo)
        },
        lastName() {
            this.$store.commit('savePaymentInfo', this.paymentInfo)
        },
        email() {
            this.$store.commit('savePaymentInfo', this.paymentInfo)
        },
        phoneNumber() {
            this.$store.commit('savePaymentInfo', this.paymentInfo)
        },
        countryCode() {
            this.$store.commit('savePaymentInfo', this.paymentInfo)
        },
        accessInformation() {
            this.$store.commit('savePaymentInfo', this.paymentInfo)
        },
        agreement() {
            this.$store.commit('savePaymentInfo', this.paymentInfo)
        },
        cardHolderName() {
            this.$store.commit('savePaymentInfo', this.paymentInfo)
        },
    }
}
</script>

<style lang="scss" scoped>
   .message {
      display: none;
      margin-left: 6px;
      line-height: 1.0em;
      margin-top: 4px;
      color: red;
      font-size: 0.7em;
   }

   .form-group {
      &.invalid {
         input {
            border: 1px solid red;
         }

         .message {
            display: block;
            color: red;
         }
      }

      &.valid {
         input {
            border: 1px solid green;
         }
      }
   }

   .stripe-image {
      background: url("../../../assets/img/steps/step-payment/stripe.png") no-repeat center;
      background-size: contain;
      min-height: 40px;
      height: 100%;
   }

   .font-size-08-em {
      font-size: 0.8em;
   }

   textarea.house-access {
      min-height: 62px;
      max-height: 300px;
   }

   .buttonPayment {
      opacity: 0.5;

      &.buttonActive {
         opacity: 1.0;
      }
   }
</style>
