<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
   <title>Itrenhold.no | Rengjøring av huset og kontorer Oslo, Drammen - It Renhold</title>
   <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
   <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
   <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
   <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
   <link rel="icon" href="<%= webpackConfig.output.publicPath %>favicon.png">
   <link rel="shortcut icon" href="<%= webpackConfig.output.publicPath %>favicon.png">
</head>
<body>
<div id="app"></div>
</body>
</html>
