<template>
   <div class="active-input">
      <input :placeholder="$t(placeholder)"
             :maxlength="maxLength"
             :value="internalValue"
             @input="onInput"
             @keyup.enter="onActive"/>
      <button class="button-unstyled click-effect" @click="onActive">
         <translate :text="text"/>
      </button>
   </div>
</template>

<script>
export default {
    props: {
        placeholder: {type: String, required: true},
        text: {type: String, required: true},
        value: {type: String},
        maxLength: {type: Number, default: 35},
    },
    data() {
        return {
            internalValue: this.value,
        }
    },
    methods: {
        setValue(newValue) {
            this.internalValue = newValue;
            this.$emit('input', this.internalValue);
        },
        onInput(event) {
            this.setValue(event.target.value);
        },
        onActive() {
            this.$emit('effect', this.internalValue);
        }
    },
    watch: {
        value(newValue) {
            this.setValue(newValue);
        }
    }
};
</script>

<style lang="scss" scoped>
   .active-input {
      position: relative;

      input {
         outline: none;
         width: 100%;
         padding: 9px 95px 9px 9px;
         border: 2px solid #eee;
         height: 50px;
         border-bottom-left-radius: 4px;
         border-top-left-radius: 4px;
         font-weight: 200;
      }

      button {
         position: absolute;
         right: 0;
         top: 0;
         outline: none;
         border: none;
         background-image: -moz-linear-gradient(-180deg, rgb(2, 163, 180) 0%, rgb(10, 190, 180) 100%);
         background-image: -webkit-linear-gradient(-180deg, rgb(2, 163, 180) 0%, rgb(10, 190, 180) 100%);
         background-image: -ms-linear-gradient(-180deg, rgb(2, 163, 180) 0%, rgb(10, 190, 180) 100%);
         background-image: linear-gradient(-180deg, rgb(2, 163, 180) 0%, rgb(10, 190, 180) 100%);
         box-shadow: 3px 11px 29px 0 rgba(9, 186, 180, 0.13);
         height: 50px;
         border-bottom-right-radius: 4px;
         border-top-right-radius: 4px;
         font-weight: 700;
         color: white;
         padding: 0 18px;
      }
   }
</style>
