<template>
   <div>
      <carousel :per-page="1"
                :navigation-enabled="false"
                :pagination-enabled="false"
                :autoplay="true"
                :autoplayTimeout="3000"
                :speed="300">
         <slide v-for="comment in comments" :key="comment.id">
            <CommentBox
                  :author="comment.author"
                  :text="comment.text"
                  :avatar="comment.avatar"/>
         </slide>
      </carousel>
   </div>
</template>

<script>
import CommentBox from "./CommentBox";
import {Carousel, Slide} from 'vue-carousel';

export default {
    components: {CommentBox, Carousel, Slide},

    data() {
        return {
            comments: [],
            defaultAvatar: require('@/assets/img/user.png')
        }
    },

    mounted() {
        this.$store.dispatch('fetchComments').then(({comments}) => {
            this.comments = comments.map(comment => {
                return {
                    id: comment.id,
                    avatar: comment.photo || this.defaultAvatar,
                    text: comment.msg,
                    author: comment.name,
                };
            });
        });
    }
}
</script>
