<template>
   <div class="language-picker">
      <div class="language round-borders"
           :class="{active: lang.code === language.code}"
           @click="toggle(lang)"
           v-for="lang in languages">
         <img :src="lang.flag" :alt="lang.name"/>
         {{lang.name}}
      </div>
   </div>
</template>

<script>
import en from "@/assets/img/flags/en.png";
import pl from "@/assets/img/flags/pl.png";
import no from "@/assets/img/flags/no.png";
import se from "@/assets/img/flags/se.png";

export default {
    props: {
        en: {default: en},
        pl: {default: pl},
        no: {default: no},
        sv: {default: se},
    },

    data() {
        let languages = {
            pl: {code: 'pl', name: "Polski", flag: this.pl},
            en: {code: 'en', name: "English", flag: this.en},
            no: {code: 'no', name: "Norsk", flag: this.no},
            sv: {code: 'sv', name: "Svenska", flag: this.sv},
        };
        return {
            language: languages[this.$i18n.locale],
            languages
        };
    },

    mounted() {
        if (localStorage.locale) {
            this.setLocale(localStorage.locale);
        }
    },

    methods: {
        setLocale(locale) {
            this.$i18n.locale = locale;
            this.language = this.languages[locale];
            localStorage.locale = locale;
        },
        toggle(language) {
            this.setLocale(language.code);
        }
    }
}
</script>

<style scoped lang="scss">
   .language-picker {
      display: inline-block;

      .language {
         display: inline-block;
         background-color: #ffffff87;
         border-radius: 3px;
         padding: 10px 15px;
         cursor: pointer;
         white-space: nowrap;
         opacity: 0.5;
         transition: opacity .3s;
         will-change: opacity;

         &.active {
            opacity: 1;
            background-color: #13a5b33d;
         }

         img {
            margin-right: 5px;
            width: 16px;
            height: 11px;
            margin-top: -3px;
         }
      }
   }
</style>
