<template>
   <div>
      <template v-if="active">
         <p class="subscribe-invitation">
            <translate text="key.footer.newsletter.signup"/>
         </p>

         <div class="d-flex input-round-border">
            <input v-model="newsletterEmail"
                   type="email"
                   id="newsletter-email"
                   :placeholder="$t('Your e-mail address')"
                   :title="$t('Your e-mail address')"/>

            <button class="subscribe-button button-style click-effect" @click="subscribe()">
               <translate>Subscribe</translate>
            </button>
         </div>
      </template>

      <div class="after-subscription-message" v-else>
         <p class="text-center">
            <translate text="key.footer.discount.note"></translate>
         </p>

         <p class="tt-uppercase">
            <translate>You have a mail!</translate>
         </p>
      </div>
   </div>
</template>

<script>
export default {
    props: {active: {type: Boolean, default: true}},

    data() {
        return {
            newsletterEmail: '',
        }
    },

    methods: {
        subscribe() {
            this.$emit('subscribe', this.newsletterEmail);
        }
    }
}
</script>

<style lang="scss" scoped>
   .subscribe-invitation {
      margin-top: 10px;
   }

   .after-subscription-message {
      margin-top: 10px;
      text-align: center;
   }

   .input-round-border {
      background-color: white;
      border-radius: 50px;
      position: relative;
      margin-bottom: 15px;

      input {
         height: 53px;
         border: none;
         border-radius: 55px;
         padding-left: 15px;
         padding-right: 120px;
         box-shadow: 0 13px 24px 0 rgba(0, 0, 0, 0.06);
         width: 100%;
         text-overflow: ellipsis;
         outline: none;
      }

      .subscribe-button {
         position: absolute;
         right: 6px;
         top: 4px;
      }
   }

   p.subscribe-invitation {
      text-align: center;
      font-size: 16px !important;
      line-height: 22px;
   }
</style>
