<template>
   <div class="notification-subscription">
      <template v-if="!emailSent">
         <label class="label-style">
            <translate>Street name</translate>
         </label>
         <p>{{$store.state.autocompleteValue}}</p>

         <label class="label-style">
            <translate>E-mail address</translate>
         </label>
         <active-input placeholder="E-mail address" text="Notify" :maxLength="35" @effect="subscribe"/>
      </template>

      <translate v-else>
         Thank you, we will inform you about availability in your area.
      </translate>
   </div>
</template>

<script>
import ActiveInput from "../../../../components/ActiveInput";
import {emailValidator} from "../../../../utils";

export default {
    components: {ActiveInput},
    data() {
        return {
            email: '',
            emailSent: false
        }
    },
    methods: {
        subscribe(email) {
            if (!emailValidator(email)) {
                this.$notify({
                    message: this.$t("We're sorry, but this e-mail address looks incorrect."),
                    type: "warning"
                });
                return;
            }

            this.$store.dispatch('saveForAreaAvailability', {email})
                .then(() => {
                    this.emailSent = true;

                    this.$notify({
                        message: this.$t('Thank you, we will inform you about availability in your area.'),
                        type: "success" // "", "info", "success", "warning", "danger"
                    });
                })
                .catch(() => {
                    this.$notify({
                        message: this.$t('An error occurred while subscribing. Check your internet connection and try again.'),
                        type: 'danger'
                    });
                });

        }
    }
}
</script>

<style lang="scss" scoped>
   .notification-subscription {
      padding: 15px;
      box-shadow: 0 0 1.313em rgba(13, 40, 96, .13);
      border-radius: 1em;
   }
</style>
