<template>
   <div class="hour-pick-calendar mb-3">
      <div class="days">
         <carousel
             :per-page="1"
             :navigation-enabled="true"
             :pagination-enabled="true"
             :min-swipe-distance="14"
             :per-page-custom="carouselCustomPages">
            <slide v-for="day in days" :key="day.date">
               <div class="day">
                  <span class="day-name">
                     <translate :text="day.date | parseDate | weekDay"/>
                  </span>
                  <p class="date">
                     {{day.date | parseDate | formatDate}}
                  </p>
                  <div class="hide-scroll-parent">
                     <ScrollSync vertical style="height: 394px; overflow-y: scroll;" class="hide-scroll-child">
                        <div class="hours"
                             :scroll-top="scrollHeight"
                             @scroll="height => onScroll(height)">
                           <span v-for="hour in day.hours"
                                 :key="hour.hour"
                                 class="hour"
                                 :class="{inactive: false, selected: hour && hour.selected}"
                                 @click="() => selectHour(hour, day)">
                              {{hour.hour}}
                           </span>
                           <div class="grey-hour" v-for="h in fill(day)"/>
                        </div>
                     </ScrollSync>
                  </div>
               </div>
            </slide>
            <slide></slide>
         </carousel>
      </div>
   </div>
</template>

<script>
import {Carousel, Slide} from 'vue-carousel';
import ScrollSync from 'vue-scroll-sync';

export default {
    components: {Carousel, Slide, ScrollSync},

    props: {
        length: {type: Number, required: true},
        days: {type: Array, required: true},
    },

    filters: {
        formatDate(date) {
            return date.toLocaleDateString();
        },
        weekDay(date) {
            const weekdays = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];
            return weekdays[date.getDay()];
        },
        parseDate(date) {
            return new Date(Date.parse(date));
        }
    },

    data() {
        return {
            scrollHeight: 0,
            carouselCustomPages: [
                [0, 1],
                [333, 2],
                [450, 3],
                [586, 4],
                [669, 4],
                [711, 5],
                [768, 3],
                [1066, 4],
            ]
        }
    },

    methods: {
        onScroll(height) {
            this.scrollHeight = height;
        },
        fill(day) {
            const max = Math.max.apply(null, this.days.map(day => day.hours.length));
            return new Array(max - day.hours.length);
        },
        selectHour(hour, day) {
            this.$emit('input', {
                date: hour.date,
                text: hour.hour,
                employee_id: hour.employee_id,
            });

            this.days.forEach(day => day.hours.forEach(hour => hour.selected = false));
            hour.selected = true;

            this.$forceUpdate();
        }
    }
}
</script>

<style>
    .VueCarousel-navigation-button {
        color: #0abeb4 !important;
        outline: none !important;
    }

    .VueCarousel-navigation--disabled {
        visibility: hidden !important;
    }
</style>

<style lang="scss" scoped>
   $border-colour: #0abeb4;
   @import '~@/assets/scss/bootstrap';

   .hide-scroll-parent {
      width: 100%;
      height: 100%;
      overflow: hidden;

      .hide-scroll-child {
         width: 100%;
         height: 100%;
         overflow-y: scroll;
         padding-right: 17px; /* Increase/decrease this value for cross-browser compatibility */

         box-sizing: content-box; /* So the width will be 100% + 17px */
         // https://stackoverflow.com/questions/16670931/hide-scroll-bar-but-while-still-being-able-to-scroll
      }
   }

   .hour-pick-calendar {
      box-shadow: rgba(0, 0, 0, 0.08) 0 2px 2px 0, rgba(0, 0, 0, 0.04) 0 0 2px 0;
   }

   .days {
      text-align: center;

      .day {
         overflow: hidden;
         display: inline-block;
         width: 120px;

         .day-name {
            font-size: 0.9em;
            display: block;
            text-align: center;
         }
      }
   }

   .hours {
      width: 120px;

      .grey-hour {
         height: 42px;
         padding: 8px;
         margin-bottom: 2px;
         border: 1px solid white;
      }

      .hour {
         padding: 8px;
         display: block;
         text-align: center;
         border-radius: 20px;
         min-width: 80px;
         margin-bottom: 2px;
         border: 1px solid $border-colour;
         box-sizing: content-box;
         cursor: pointer;

         &:not(.inactive):hover {
            background-color: #f5f5f5;
         }

         &.inactive {
            opacity: 0.2;
            cursor: not-allowed;
            background-color: #e7e7e7;
         }

         &.selected {
            background-color: #7ad4d4;
            color: white;

            &:hover {
               background-color: #7ad4d4;
               opacity: 0.9;
            }
         }
      }
   }
</style>
