<template>
   <label class="label-container">
      {{title}}
      <input type="radio" @input="input" :value="radioValue" v-model="model" name="radio-button">
      <span class="check-mark"/>
   </label>
</template>

<script>
export default {
    props: {
        title: {type: String, required: true},
        radioValue: {type: String, required: true},
        value: {type: String, default: null},
    },

    data() {
        return {
            model: this.value
        }
    },

    methods: {
        input() {
            this.$emit('input', this.radioValue);
        }
    }
}
</script>

<style lang="scss" scoped>
   $selected-colour: #0abeb4;

   .label-container {
      display: block;
      position: relative;
      padding-left: 35px;
      margin-bottom: 12px;
      cursor: pointer;
      line-height: 31px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      &:hover input ~ .check-mark {
         background-color: #ccc;
      }

      input {
         position: absolute;
         opacity: 0;
         cursor: pointer;
         height: 0;
         width: 0;

         &:checked ~ .check-mark {
            background-color: $selected-colour;
         }

         &:checked ~ .check-mark:after {
            display: block;
         }
      }

      .check-mark {
         position: absolute;
         top: 3px;
         left: 0;
         height: 25px;
         width: 25px;
         background-color: #eee;
         border-radius: 50%;

         &:after {
            content: "";
            position: absolute;
            display: none;
            top: 9px;
            left: 9px;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background: white;
         }
      }
   }
</style>
