<template>
   <div class="additional-option">
      <div class="col-1 p-0 d-flex align-center margin-top-negative max-height-100">
         <img class="option-icon" :src="icon" :alt="title">
      </div>

      <div class="col-8">
         <h4>
            <translate :text="title"/>
         </h4>
         <p>
            <translate :text="subtext"/>
         </p>
      </div>

      <div class="col-3 p-0 price-and-time">
         <div class="d-flex justify-content-end">
            <div>
               <span>{{price}} NOK</span>
               <span>{{time}} min</span>
            </div>
            <div class="pt-1">
               <counter-button :value="value" :max="maxAmount" @input="v => update(v)"/>
            </div>
         </div>
      </div>
   </div>
</template>

<script>
import CounterButton from "./CounterButton.vue";

export default {
    components: {CounterButton},

    props: {
        title: {required: true, type: String},
        subtext: {required: true, type: String},
        icon: {required: true, type: String},
        price: {required: true, type: Number},
        time: {required: true, type: Number},
        value: {required: true, type: Number},
        maxAmount: {required: true, type: Number},
    },

    methods: {
        update(value) {
            this.$emit("input", value);
        }
    }
}
</script>

<style lang="scss" scoped>
   @media screen and (max-width: 400px) {
      div.additional-option {
         h4 {
            font-size: 1.0em;
            font-weight: 400;
         }

         p {
            width: 85%;
         }
      }
   }

   .additional-option {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      padding-top: 10px;

      .margin-top-negative {
         margin-top: -10px;
      }

      .max-height-100 {
         max-height: 100px;
      }

      img.option-icon {
         display: block;
         max-width: 100%;
         object-fit: contain;
      }

      h4 {
         font-size: 25px;
         font-weight: 100;
         margin-bottom: 0.2rem;
      }

      p {
         font-size: 15px;
         font-weight: 100;
      }

      .price-and-time span {
         font-weight: 100;
         font-size: 16px;
         text-align: right;
         display: block;
         white-space: nowrap;
      }
   }
</style>
