<template>
   <div class="additional-options-selector mt-5">
      <h3>
         <translate text="Furniture Cleaning"/>
      </h3>

      <options-selector :options="options"/>
   </div>
</template>

<script>
import OptionsSelector from "./OptionsSelector";
import ConstantServiceList from "./ConstantServiceList";

import appliances from '@/assets/img/steps/step-details/additional/appliances.png';
import blinds from '@/assets/img/steps/step-details/additional/blinds.png';

export default {
    components: {ConstantServiceList, OptionsSelector},

    props: {
        value: {required: true, type: Object},
    },

    data() {
        return {
            options: [
                {
                    id: 10,
                    title: "Appliances",
                    subtext: "Washing the oven, refrigerator, etc. (Price per pcs.)",
                    price: 195,
                    time: 30,
                    icon: appliances,
                    maxAmount: 99,
                    forType: 'carpet'
                },
                {
                    id: 15,
                    title: "Blinds",
                    subtext: "Cleaning dust with brush (Price per pcs.)",
                    price: 65,
                    time: 10,
                    icon: blinds,
                    maxAmount: 99,
                    forType: 'carpet'
                },
            ]
        }
    },
}
</script>
