<template>
   <div class="container bordered mt-3 d-flex justify-content-between">
      <translate text="key.standard.service.equipment"/>
   </div>
</template>

<style lang="scss" scoped>
  $height: 25px;

  .container.bordered {
    padding: 15px;
    box-shadow: 0 0 1.313em rgba(13, 40, 96, .13);
    border-bottom: 3px solid #3abbaf;
    border-radius: 1em;
    line-height: $height;

    img {
      height: $height;
      margin-left: 10px;
    }
  }
</style>
