<template>
   <div class="container bordered mt-3 d-flex justify-content-between" @click="showModal">
      <translate>What does a standard cleaning service include?</translate>
      <img :src="info" :alt="$t('Additional services')"/>
   </div>
</template>

<script>
export default {
    data() {
        return {
            info: require("@/assets/img/steps/step-details/info.png")
        }
    },

    methods: {
        showModal() {
            this.$dialogs.alert(this.norwegianText(), {
                title: this.$t("What does a standard cleaning service include?")
            });
        },

        norwegianText() {
            // This should be translated, once the owner of this website provides all translations
            return `Soverom, stue og andre rom:
- Støvsuging og vasking av gulv
- Støvtørking fra lett tilgjengelige overflater
- Vasking av dør, dørhåndtak, speil og glassflater
- Luktnøytralisering, tømming av søppelbøtte

Baderom og toaletter:
- Støvsuging og vasking av gulv
- Rengjøring av badutstyr (servant, badekar, dusjer, toaletter, bidé)
- Vasking av speil
- Støvtørking
- Luktnøytralisering

Kjøkken:
- Støvsuging og vasking av gulv
- Støvtørking fra skap og utstyrselementer
- Vasking av kjøkkenbenker, vaskekum og platetopp
- Vasking av utsiden til kjøleskap, mikrobølgeovn, stekeovn og hette,
- Luktnøytralisering

Obs! Bør kunden ha rengjøringsmidler som er nødvendige til renhold: støvsuger, vaskemidler til gulv, glass, toalett osv. samt svamper og kluter. Hvis noe krever spesiell forsiktighet, må du informere renholderen om dette.`;
        }
    }
}
</script>

<style lang="scss" scoped>
  $height: 25px;

  .container.bordered {
    padding: 15px;
    box-shadow: 0 0 1.313em rgba(13, 40, 96, .13);
    border-bottom: 3px solid #3abbaf;
    border-radius: 1em;
    line-height: $height;
    cursor: help;

    img {
      height: $height;
      margin-left: 10px;
    }
  }
</style>
