<template>
   <div class="container mt-2">
      <div class="row mt-4 constant-height-row-129">
         <div class="col-6 mb-4 mb-sm-0" @click="select('standard')">
            <div class="type" :class="active('standard')">
               <img :src="standard" :alt="$t('Maid service')">
               <translate>Maid service</translate>
            </div>
         </div>

         <div class="col-6" @click="select('extra')">
            <div class="type" :class="active('extra')">
               <img :src="extra" :alt="$t('Cleanup after moving')">
               <translate>Cleanup after moving</translate>
            </div>
         </div>
      </div>
   </div>
</template>

<script>
import standard from '@/assets/img/steps/step-details/type-standard.png';
import extra from '@/assets/img/steps/step-details/type-extra.png';
import gloves from '@/assets/img/steps/step-details/type-gloves.png';
import carpet from '@/assets/img/steps/step-details/type-carpet.png';

export default {
    props: {
        value: {default: null, validator: type => [null, 'standard', 'extra', 'gloves', 'carpet'].includes(type)}
    },

    data() {
        return {
            standard,
            extra,
            gloves,
            carpet,
            selectedType: this.value
        }
    },

    methods: {
        select(type) {
            this.selectedType = type;
            this.$emit('input', type);
        },

        active(type) {
            return {active: type === this.selectedType};
        }
    }
}
</script>

<style lang="scss" scoped>
   @import '~@/assets/scss/bootstrap';
   @import '~@/assets/scss/variables';

   @include media-breakpoint-down(md) {
      .constant-height-row-129 {
         .type img {
            height: 45px;
         }
      }
   }

   .constant-height-row-129 {
      height: 129px;

      .type {
         margin-top: 0;
         transition: margin-top .3s;

         &.active {
            margin-top: -5px;
         }
      }
   }

   .type {
      opacity: 0.5;
      transition: opacity 0.3s;
      cursor: pointer;
      text-align: center;
      box-shadow: rgba(0, 0, 0, 0.1) 5px -6px 22px;
      border-radius: 10px;
      background-color: rgb(246, 247, 249);
      border-bottom: 3px solid rgb(58, 187, 175);

      &.active {
         opacity: 1;
      }

      img {
         height: 55px;
         margin-top: 10px;
      }

      span {
         display: block;
         background-color: $background-color;
         border-bottom-left-radius: 10px;
         border-bottom-right-radius: 10px;
         padding: 15px 4px;
         line-height: 16px;
      }
   }
</style>
