<template>
   <nav>
      <div class="mobile-nav-button d-flex d-lg-none align-items-end">
         <div class="toggle-icon">
            <toggle-sidebar-icon :state="$sidebar.showSidebar" @click="toggle"/>
         </div>
      </div>

      <scroll-emitter @scroll="scroll"/>

      <div class="nav d-none d-lg-flex justify-content-between" :class="transparent">
         <a href="/" class="logo-link">
            <img :src="logo" alt="Renhold"/>
         </a>

         <ul class="list-unstyled">
            <li v-for="link in links">
               <a :href="link.link" :class="link.class">
                  <fa v-if="link.icon" :icon="link.icon"/>
                  <translate :text="link.name"/>
               </a>
            </li>
         </ul>
      </div>
   </nav>
</template>

<script>
import ToggleSidebarIcon from '@/components/ToggleSidebarIcon.vue';
import ScrollEmitter from '@/components/ScrollEmitter.vue';

export default {
    components: {ToggleSidebarIcon, ScrollEmitter},

    data() {
        return {
            links: [
                {link: 'https://itrenhold.no/', name: 'Home'},
                {link: 'https://itrenhold.no/mobile-app/', name: 'Mobile App'},
                {link: 'https://itrenhold.no/privat/', name: 'Private'},
                {link: 'https://itrenhold.no/bedrift/', name: 'Company'},
                {link: 'https://itrenhold.no/om-oss/', name: 'About us'},
                {link: 'https://itrenhold.no/blog/', name: 'Blog'},
                {link: 'https://itrenhold.no/kontakt/', name: 'Contact'},
                {
                    link: 'https://itrenhold.no/Bestill_na/',
                    name: 'Order now',
                    class: 'list-button',
                    icon: 'shipping-fast'
                },
            ],
            logo: require('@/assets/img/nav/logo.svg'),
            scrollY: 0
        };
    },

    methods: {
        toggle() {
            this.$sidebar.displaySidebar(!this.$sidebar.showSidebar);
        },
        scroll(scrollY) {
            this.scrollY = scrollY
        }
    },
    computed: {
        transparent() {
            return {
                'transparent': this.scrollY === 0
            };
        }
    },
};
</script>

<style lang="scss" scoped>
   nav {
      .mobile-nav-button {
         position: absolute;
         top: 22px;
         left: 10px;
         height: 50px;
         width: 50px;
         z-index: 1000;

         .toggle-icon {
            color: #00b1b4;

            &.covered {
               box-shadow: 0 0 25px 10px white;
               color: white;
               background-color: #12a9b2;
            }
         }
      }

      .nav {
         top: 0;
         left: 0;
         width: 100%;
         position: fixed;
         height: 70px;
         z-index: 1000;
         background: white;
         padding: 0 15px;
         -webkit-box-shadow: 1px 1px 3px rgba(80, 80, 80, 0.1);
         -moz-box-shadow: 1px 1px 3px rgba(80, 80, 80, 0.1);
         -o-box-shadow: 1px 1px 3px rgba(80, 80, 80, 0.1);
         box-shadow: 1px 1px 3px rgba(80, 80, 80, 0.1);
         border: none;
         border-bottom: 1px solid rgba(255, 255, 255, 0.25);
         transition: all .8s;

         &, ul li a {
            transition: all .8s;
         }

         &.transparent {
            background-color: transparent;
            box-shadow: none;
            border: none;
            height: 75px;

            ul li a {
               color: white;
            }
         }

         a.logo-link {
            margin: 15px;
            display: inline-block;

            img {
               width: 135px;
               display: block;
            }
         }

         ul {
            margin: 0;
            white-space: nowrap;

            li {
               display: inline-block;
               line-height: 66px;
               margin-top: 3px;
               padding: 0 10px;

               a {
                  font-size: 18px;
                  line-height: 66px;
                  text-decoration: none;
                  color: black;

                  &:hover {
                     text-decoration: underline;
                  }

                  &.list-button {
                     font-size: 16px;
                     height: 45px;
                     color: white;
                     line-height: 47px;
                     display: block;
                     background: -webkit-linear-gradient(-45deg, #14a4b4, #0fbaaf);
                     background: -moz-linear-gradient(-45deg, #14a4b4, #0fbaaf);
                     background: -o-linear-gradient(-45deg, #14a4b4, #0fbaaf);
                     background: linear-gradient(-45deg, #14a4b4, #0fbaaf);
                     border-radius: 50px;
                     box-shadow: 3.216px 10.519px 13px 0 rgba(9, 186, 180, 0.13);
                     padding: 0 20px;

                     &:hover {
                        text-decoration: none;
                        opacity: 0.7;
                        transition: opacity .3s;
                     }
                  }
               }

               svg.svg-inline--fa {
                  margin-right: 10px;
               }
            }
         }
      }
   }
</style>
