<template>
   <aside>
      <div class="animate-height" :class="{visible: orderSummaryVisible}">
         <section class="d-none d-md-block mb-md-4 mb-3">
            <order-summary/>
         </section>
      </div>

      <section class="mb-md-4 mb-3">
         <h4>
            <translate>Do you have a discount code?</translate>
         </h4>
         <active-input
               placeholder="Discount code"
               :maxLength="15"
               v-model="discountCode"
               text="Use"
               @effect="useDiscountCode"/>
      </section>

      <section class="d-none d-md-block">
         <h4>
            <translate>User comments</translate>
         </h4>
         <comment-carousel/>
      </section>

      <div class="mt-3 mb-3 text-center">
         <language-picker/>
      </div>
   </aside>
</template>

<script>
import LanguagePicker from '@/components/LanguagePicker.vue';
import CommentCarousel from "@/components/CommentCarousel";
import ActiveInput from "@/components/ActiveInput";
import OrderSummary from "./OrderSummary";

export default {
    components: {LanguagePicker, CommentCarousel, OrderSummary, ActiveInput},

    props: {
        orderSummaryVisible: {type: Boolean, default: true},
    },

    data() {
        return {
            discountCode: '',
        }
    },

    mounted() {
        let discount = this.$route.query.discount;
        if (discount) {
            this.discountCode = discount;
            this.useDiscountCode();
        }
    },

    methods: {
        useDiscountCode() {
            this.$store.dispatch('validateDiscount', {code: this.discountCode})
                .then(() => {
                    this.$notify({
                        message: this.$t("Success! Thank you for using a discount code!"),
                        type: "success" // "", "info", "success", "warning", "danger"
                    });
                })
                .catch((error) => {
                    if (error === "missing") {
                        this.$notify({
                            message: this.$t("Sorry! This doesn't look like a valid discount code."),
                            type: "warning" // "", "info", "success", "warning", "danger"
                        });
                    } else {
                        this.$notify({
                            message: this.$t("An error occurred while loading data. Check your internet connection and try again."),
                            type: "danger" // "", "info", "success", "warning", "danger"
                        });
                    }
                });
        },
    }
}
</script>

<style lang="scss" scoped>
   @import '~@/assets/scss/bootstrap';

   aside {
      position: -webkit-sticky;
      position: sticky;
      top: 80px;
      margin-bottom: 20px;

      .animate-height {
         will-change: max-height;
         overflow: hidden;
         transition: max-height .6s;
         max-height: 0;

         &.visible {
            max-height: 640px;
         }
      }

      section {
         background-color: white;
         border-radius: 25px;
         padding: 20px;
         overflow: hidden;
         text-align: center;

         h1 {
            font-size: 30px;
            color: #00a1a2;
            font-weight: 500;
         }

         h4 {
            font-weight: 100;
            font-size: 13px;
            text-transform: uppercase;
            color: #13a8b3;
            text-align: left;
            display: block;
         }

         p {
            font-size: 18px;
            color: black;
            transition: color .2s;

            &.overtime {
               color: #d46262;
            }
         }

         svg { // Font Awesome specific
            color: grey;
         }

         h6.date-and-time-header {
            svg {
               margin-right: 6px;
            }
         }

         .summary-time,
         .summary-duration,
         .summary-price {
            p {
               display: flex;
               justify-content: space-between;

               span {
                  text-align: left;
               }

               .partial-top-border {
                  padding-left: 40px;
                  padding-top: 10px;
                  border-top: 1px solid rgba(0, 0, 0, 0.1);
               }
            }
         }
      }
   }

   @include media-breakpoint-down(md) {
      aside {
         top: 20px;
      }
   }
</style>
