<template>
   <div class="order-summary p-2 p-sm-0">
      <h1>
         <translate>Summary</translate>
      </h1>
      <section class="mt-3">
         <h6 class="mb-1">
            <fa icon="calendar-alt"/>
            <translate className="semicolon-after">Date and time of cleaning</translate>
         </h6>
         <template v-if="$store.state.serviceTime.date">
            {{$store.state.serviceTime.date}}
            {{$store.state.serviceTime.hour}}
         </template>
         <translate v-else>To be chosen</translate>
      </section>

      <hr v-if="$store.getters.timeVisible">
      <section v-if="$store.getters.timeVisible">
         <fa :icon="['far', 'clock']"/>
         <p v-if="includesStandardService">
            <translate className="semicolon-after" text="Cleaning time"/>
            {{$store.getters.floorTime | hour}}h
         </p>
         <p>
            <translate className="semicolon-after" text="Additional services"/>
            {{$store.getters.additionalTime | hour}}h
         </p>
         <p v-if="$store.getters.timeCorrection !== 0">
            <translate className="semicolon-after" text="Time correction"/>
            {{$store.getters.timeCorrection | hour | signedValue}}h
         </p>
         <p v-if="isRepetitionSetAndVisible">
            <translate className="semicolon-after" text="Frequency"/>
            <translate :text="repetition"/>
         </p>
         <p v-if="showSums" :class="{overtime: $store.getters.overtime}">
            <span></span>
            <span class="partial-top-border">
               =&nbsp;{{$store.getters.timeInMinutes | hour}}h
               <fa icon="exclamation-circle" v-if="$store.getters.overtime"/>
            </span>
         </p>
      </section>

      <hr/>

      <section>
         <p v-if="includesStandardService">
            <translate className="semicolon-after" text="Price for cleaning"/>
            <template v-if="$store.getters.floorPrice">
               {{$store.getters.floorPrice}}&nbsp;NOK
            </template>
         </p>
         <p v-if="includesCarpetService">
            <translate className="semicolon-after" text="Price for carpet cleaning"/>
            {{$store.getters.carpetPrice}}&nbsp;NOK
         </p>
         <p>
            <translate className="semicolon-after" text="Additional services"/>
            {{$store.getters.additionalPrice}}&nbsp;NOK
         </p>
         <p v-if="$store.getters.timeCorrection !== 0">
            <translate className="semicolon-after" text="Time correction"/>
            {{$store.getters.timeCorrectionPrice}}&nbsp;NOK
         </p>
         <p v-if="$store.getters.includesTransportPrice">
            <translate className="semicolon-after" text="Travel allowance"/>
            + {{$store.state.transportPrice}}&nbsp;NOK
         </p>
         <p v-if="$store.state.discount.procent > 0">
            <translate className="semicolon-after" text="Discount"/>
            - {{$store.state.discount.procent}}%
         </p>
         <p v-if="$store.state.cardFeeVisible">
            <translate className="semicolon-after" text="Card fee"/>
            + {{$store.state.cardFee}}&nbsp;NOK
         </p>
         <p v-if="showSums">
            <span></span>
            <span class="partial-top-border">= kr&nbsp;{{$store.getters.price}},- inkl.mva</span>
         </p>
      </section>
   </div>
</template>

<script>
export default {
    props: {
        showSums: {type: Boolean, default: true},
    },
    data() {
        return {
            options: {
                never: 'Only once',
                week: 'Every week',
                '2week': 'Twice a week',
                month: 'Every month'
            }
        };
    },
    computed: {
        includesStandardService() {
            return ['standard', 'extra'].includes(this.$store.state.type);
        },
        includesCarpetService() {
            return ['carpet'].includes(this.$store.state.type);
        },
        repetition() {
            return this.options[this.$store.state.repetition];
        },
        isRepetitionSetAndVisible() {
            if (this.$store.state.type === 'standard') {
                return this.$store.state.repetition !== null;
            }
            return false;
        }
    }
}
</script>

<style lang="scss" scoped>
.order-summary {
  text-align: center;

  h1 {
    font-size: 30px;
    color: #00a1a2;
    font-weight: 500;
  }

  h4 {
    font-weight: 100;
    font-size: 13px;
    text-transform: uppercase;
    color: #13a8b3;
    text-align: left;
    display: block;
  }

  p {
    font-size: 18px;
    color: black;
    transition: color .2s;

    &.overtime,
    &.overtime svg {
      color: #d46262;
    }
  }

  svg { // Font Awesome specific
    color: grey;
  }

  h6 {
    svg {
      margin-right: 6px;
    }
  }

  section {
    p {
      display: flex;
      justify-content: space-between;

      span {
        text-align: left;
      }

      .partial-top-border {
        padding-left: 40px;
        padding-top: 10px;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
      }
    }
  }
}
</style>
